.add-task-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80vw;
	margin-top: 2em;
}

.add-task-input {
	width: 71%;
	@include input();
}

.add-task-button {
	width: 25%;
	height: 35px;
	border: 1px solid $colorLines;
	border-radius: 3px;
	margin-left: 5px;
	outline-style: none;
	color: #ffffff;
	background-color: $greenColor;
	cursor: pointer;
}
